body{
    display:flex;
    justify-content:center;
    margin: 0;
    padding: 0;
    background-color: blue;
}

.buttons{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
}

.container{
    display:flex;
    color: lightgray;
    flex-direction: column;
    align-items: center;
}

#textInput{
    margin-top: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
    outline: none;
    width: 90%

}

#countButton{
    width: 70%;
    height: 40px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 10px 5px 5px black;
    margin-bottom: 10px;
}

#countButton:hover{
    box-shadow: inset 0 0 1em gold, 0 0 1em red;
}


@media(min-width: 769px){

  #textInput{
      width: 100%;
    }
  .buttons{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
    #countButton{
      margin-left: 6px;
      width: 50%;
    }
    
}